:root {
  --white: #fefefe;
  --dark: #272932;
  --red: #cb0a0a;
  --green: green;
  --grey: #12121277;
  --pink: #ffc0cb;
  --light: #87ceeb;
}

.card__img {
  max-width: 200px;
  max-height: 350px;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  width: 300px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.card--dark {
  background-color: var(--dark);
  color: var(--white);
}
.card--angry {
  background-color: var(--grey);
  color: var(--dark);
}

.card--happy {
  background-color: var(--pink);
  color: var(--dark);
}
.card--light {
  background-color: var(--light);
  color: var(--dark);
}

.card__text {
  font-size: 1.25em;
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
}

.button-danger {
  background: var(--red);
  color: var(--dark);
}

.button-safe {
  background: var(--green);
  color: var(--white);
}
